@import "../../../styles/Colors.scss";

.Templates {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.TemplateTable {
	background-color: $TableBackground;
	color: $TableText;
	margin-bottom: 10px;
}
