@import "../../../styles/Colors.scss";

.dialogBox {
    .MuiDialog-paperWidthSm {
        width: 600px;
        min-height: 300px;
        .MuiDialogActions-root {
            padding: 2em;
        }
        .DeleteMessage {
            text-align: center;
            font-size: 1.5em;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #333333;
            .material-icons {
                background: #256EE0;
                border-radius: 5em;
                padding: 0.5em;
                color: white;
            }
        }
    }
}