@import "../../styles/Colors.scss";

.DataInput {
	font-size: 18px !important;

	background-color: $InputBackground;
	color: $InputText;
	border:transparent!important;
	border-bottom: 1px solid #000!important;

	padding-left: 5px;

	width: 470px;
	height: 40px;

	text-align: left;
}

.Mandatory {
	padding-top: 10px;
	height: 30px;
}

.Number {
	width: 480px;
}

.Paragraph {
	height: 100px;
}

.Boolean {
	width: 500px;
	height: 45px;
}

.Checkbox {
	width: 500px;
	height: 45px;
}
.react-datepicker-wrapper {
	width: auto;
}
