@import "../../styles/Colors.scss";

.QrTitle {
	margin-top: 30px;
	color: $BackgroundText;
}

.QrReq {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.QrRequestButtons {
	flex-direction: column;
	margin-top: 5px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.QrButtons {
	margin-top: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.ButtonsRow {
	flex-direction: row;
	margin-top: 5px;
}

.react-file-reader {
	float: left;
}

.QrButton {
	margin-left: 10px;
}

.QrPetition {
	min-width: 400px;
	min-height: 400px;
	margin: 0 0 20px 0;
	padding: 10px;
	align-self: center;
	overflow-wrap: break-word;
}

.ParticipantLoaded {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 337px;
}

.QrTemplateSelector {
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.QrDialogButton {
	margin-left: 10px;
}

.PartRequestRow {
	display: flex;
}

.QrButtonsRow {
	align-self: center;
	margin-top: 10px;
	display: flex;
}

.PartRequestButton {
	float: left;
}

.LoadDidsFromCsv {
	height: 45px;
}

.DidSelect {
	width: 100%;
}

.DataName {
	margin-top: 15px;
}

.CertificateSelector {
	margin-top: 0px;
}

.CertificateSelect {
	width: 100%;
}

.CertificateButtons {
	margin-top: 5px;
}

.SendButton {
	margin-right: 10px;
}

.QrTitle {
	margin-bottom: 5px;
}

.DidLoaded {
	margin-top: 50px;
}

.ParticipantsTable {
	background-color: $TableBackground;
	color: $TableText;
	margin-bottom: 10px;
}
