@import "../../styles/Colors.scss";

.QrTitle {
	margin-top: 30px;
	color: $BackgroundText;
}

.QrReq {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.QrRequestButtons {
	flex-direction: row;
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.QrButtons {
	margin: 1em;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	.CloseButton {
		background: white!important;
		border:1px solid #dddee5!important;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0523656)!important;
		color: #333333!important;
		&:hover {
			opacity: 0.8!important;
		}
	}
	 .QrButton {
		background: #256EE0!important;
		color: white!important;
		&:hover {
			opacity: 0.8!important;
		}
	}
	
	.CloseButton, .QrButton {
		display: flex;
		align-content: center;
		width: auto;
		border-radius: 4px;
		align-items: center;
		padding: 1em 2em;
		border: transparent;
	}
}

.ButtonsRow {
	flex-direction: row;
	margin-top: 5px;
}

.react-file-reader {
	float: left;
}

.QrButton {
	margin-left: 10px;
}

.QrPetition {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	align-self: center;
	overflow-wrap: break-word;
	#canvas {
		margin:0 auto!important;
		width: 50%;
	}
}

.ParticipantLoaded {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 337px;
}

.QrTemplateSelector {
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.PartRequestRow {
	display: flex;

	.SampleCsv,
	.LoadDidsFromCsv {
		padding: 0 1em;
	}

	.QrDialogButton {
		padding: 0 1em;
		margin-left: 10px;
	}
}

.QrButtonsRow {
	align-self: center;
	display: flex;
	margin-left: 10px;
}

.PartRequestButton {
	float: left;
	display: flex;
	align-content: center;
	height: 40px;
	width: auto;
	border: none;
	border-radius: 4px;
	background-color: $grey-4;
	color: $white;
	align-items: center;
	padding: 0 1em;
}

.DidSelect {
	width: 100%;
}

.DataName {
	margin-top: 15px;
}

.CertificateSelector {
	margin-top: 0px;
}

.CertificateSelect {
	width: 100%;
}

.CertificateButtons {
	margin-top: 5px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.SendButton {
	margin-right: 10px;
}

.QrTitle {
	margin-bottom: 5px;
}

.DidLoaded {
	margin-top: 50px;
}

.ParticipantsTable {
	background-color: $TableBackground;
	color: $TableText;
	margin-bottom: 10px;
}
