@import "../../../styles/Colors.scss";

.Admin {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 20px 0;
}

.DelegatesTable {
	background-color: $TableBackground;
	color: $TableText;
	margin-bottom: 10px;
}

.RenameButton {
	width: 110px;
}

.IssuerName {
	color: $BackgroundText;
	size: 40px;
	align-self: flex-end;
	margin-left: 10px;
	margin-bottom: 5px;
}
