@import "../../styles/Colors.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	// margin: auto;
	// padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

.App {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;

	// min-height: 100vh;
}

.errMsg {
	height: 80px;
	font-size: 20px;
	margin-top: 30px;
}

.MuiInput-root {
	width: 100%;
}

.react-datepicker__input-container {
	float: left;
	width: 100%;
}

.Actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 10px;

	.DisabledAction {
		color: $Blocked;
	}

	.DeleteAction {
		cursor: pointer;
		color: $Delete;
		display: flex;
		align-items: center;
	}

	.DeleteAction:hover {
		cursor: pointer;
		color: $Delete;
	}

	.EditAction {
		cursor: pointer;
		color: $secondary-color;
		margin-right: 1em;
		display: flex;
		align-items: center;
	}

	.EditAction:hover {
		cursor: pointer;
		color: $secondary-color;
	}
	.EmmitAction:hover {
		cursor: pointer;
		color: $Emmit;
	}
}

.Version {
	opacity: 0.8;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	right: 35px;
}
