@import "../../styles/Colors.scss";

.App {
	text-align: center;

	background-color: $Background;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.errMsg {
	height: 80px;
	font-size: 20px;
	margin-top: 30px;
}

.MuiInput-root {
	width: 100%;
}

.react-datepicker__input-container {
	float: left;
	width: 100%;
}

.Actions {
	.DisabledAction {
		color: $Blocked;
	}

	.DeleteAction:hover {
		cursor: pointer;
		color: $Delete;
	}
	.EditAction:hover {
		cursor: pointer;
		color: $Edit;
	}
	.EmmitAction:hover {
		cursor: pointer;
		color: $Emmit;
	}
}
