@import "../../styles/Colors.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	// margin: auto;
	// padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

.App {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	// min-height: 100vh;
}

.errMsg {
	color: $black;
	margin-top: 1em;
	background-color: #ffeaeb;
	padding: 1em 2em;
	border-radius: 5px;
	border-left: 5px solid #ff2d3b;
	display: inline-block;
}

.MuiInput-root {
	width: 100%;
}

.react-datepicker__input-container {
	float: left;
	width: 100%;
}

.Actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 10px;

	.DisabledAction {
		color: $Blocked;
	}

	.DeleteAction {
		cursor: pointer;
		color: $Delete;
		display: flex;
		align-items: center;
	}

	.DeleteAction:hover {
		cursor: pointer;
		color: $Delete;
	}

	.EditAction {
		cursor: pointer;
		color: $secondary-color;
		margin-right: 1em;
		display: flex;
		align-items: center;
	}

	.EditAction:hover {
		cursor: pointer;
		color: $secondary-color;
	}
	.EmmitAction {
		display: flex;
		margin-right: 1em;
		&:hover {
			cursor: pointer;
			color: $Emmit;
		}
	}
}

.Version {
	opacity: 0.8;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	right: 35px;
}

.mr-2 {
	margin-right: 1rem;
}

.my-2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
