@import "../../styles/Colors.scss";

.react-tabs {
	width: 80%;
}

.react-tabs__tab-list {
	margin: 0px !important;
	width: max-content;
	float: right;
}

.react-tabs__tab--selected {
	background: $TableBackground !important;
}
