@import "../../styles/Colors.scss";

.MainContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	.Header {
		width: 100%;
		background-color: $primary-color;
		display: flex;
		justify-content: space-between;
		padding: 1em;
		box-sizing: border-box;

		img {
			height: 25px;
		}

		.Menu {
			margin-right: 1em;
			p {
				margin: 0;
			}
		}
	}
}

.MuiInput-underline:after {
	border-bottom: 2px solid $primary-color !important;
}

.ContentTable {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 10px;
}

.InputFilter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 1em;

	.HeaderText {
		padding: 10px;
	}

	.InputContainer {
		position: relative;
		width: 90%;
		margin-top: 2px;
		.TableInputFilter {
			width: 100%;
			height: 45px;
			outline: none;
			border: none;
			background-color: transparent;
		}

		.effect-3 {
			border: 0;
			padding: 7px 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.42);
			margin-top: -2px;
		}

		.effect-3 ~ .focus-border {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			z-index: 99;
		}
		.effect-3 ~ .focus-border:before,
		.effect-3 ~ .focus-border:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: $primary-color;
			transition: 0.4s;
		}
		.effect-3 ~ .focus-border:after {
			left: auto;
			right: 0;
		}
		.effect-3:focus ~ .focus-border:before,
		.effect-3:focus ~ .focus-border:after {
			width: 50%;
			transition: 0.4s;
		}
	}
}

.SelectorHeader {
	display: flex;
	justify-content: space-between;
	.HeaderText {
		display: flex;
		padding: 10px;
		p {
			margin: 0;
			margin-right: 5px;
		}
	}
}

.CustomSelect {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	.HeaderText {
		padding: 10px;
	}
}

.ReactTable {
	.rt-tbody {
		background-color: $white;
	}
	.rt-thead {
		background: $grey-3;
	}
	.rt-resizable-header-content {
		@include regular-text($label, $grey-5);
		text-transform: uppercase;
	}
	.pagination-bottom {
		background-color: $white;
	}
}

.rt-resizable-header {
	text-align: center;
}

.react-tabs {
	width: 95%;
	height: 100vh;
	margin-top: 30px;
	color: $black;
}

.react-tabs__tab {
	@include regular-text($h4, $grey-4);
}

.react-tabs__tab-panel {
	margin-top: 20px;
}

.react-tabs__tab-list {
	margin-top: 20px !important;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid $grey-3 !important;
}

.react-tabs__tab--selected {
	background: $TableBackground !important;
	border-color: $grey-3 !important;
	color: $primary-color !important;
	border-radius: 5px 5px 0 0;
}

.MuiCheckbox-colorSecondary.Mui-checked {
	color: $primary-color !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.TableInputFilter.Checkbox {
	max-width: 250px;
}

.errorList {
	list-style-type: none;
}

.Loading {
	background: $Background;
	opacity: 0.85;
}

.ActionsMenu {
	display: flex;
	right: 5px;
	top: 5px;
}

.ActionsMenuItems {
	display: flex;
	flex-direction: column;
}

.HeadButtons {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-bottom: 1em;
	justify-content: flex-end;
}

.SectionButtons {
	flex: 1;
	height: 50px;
	margin-bottom: 10px;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
}

.MoveButton {
	width: 200px;
	height: 50px;
	font-size: 20px;
}

.LogoutButton {
	align-self: center;
}

//Butons
.CreateButton,
.MuiButton-containedPrimary {
	display: flex;
	align-content: center;
	height: 40px;
	width: auto;
	border: none;
	border-radius: 4px;
	background-color: $secondary-color;
	color: $white;
	align-items: center;
	padding: 0 1em 0 0.5em;

	.material-icons.md-dark {
		color: $white;
	}
}

.DangerButton {
	@extend .CreateButton;
	background-color: $Delete;
}

.CreateButtonText {
	align-content: center;
	@include regular-text($button, $white);
}

@-moz-document url-prefix() {
	.CreateDelegateText {
		margin-top: 5px !important;
	}
}

// @media (max-width: 1150px) {
// 	.TemplateTable,
// 	.CertificateTable,
// 	.DelegatesTable,
// 	.ParticipantsTable {
// 		margin-top: 0px;
// 	}

// 	.react-tabs {
// 		width: 95%;
// 		height: 100%;
// 		margin-top: 30px;
// 	}
// }

// @media (max-width: 950px) {
// 	.HeadButtons {
// 		top: -50px;
// 	}
// 	.react-tabs__tab-list {
// 		display: flex;
// 		width: 100%;
// 	}
// }

// @media (max-width: 820px) {
// 	.HeadButtons {
// 		top: -70px;
// 	}

// 	.react-tabs {
// 		margin-top: 50px;
// 	}
// }

// @media (max-width: 600px) {
// 	.react-tabs__tab-list {
// 		font-size: 14px;
// 	}

// 	.react-tabs {
// 		font-size: 14px;
// 		margin-top: 50px;
// 	}
// }
