@import "../../../styles/Colors.scss";

.Certificates {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.CertButtons {
	display: flex;
	align-self: center;
}

.EmmitSelectedButton {
	background-color: $primary-color;
	padding: 0 1em;
}

.CertificateTable {
	background-color: $TableBackground;
	color: $TableText;
	margin-bottom: 10px;
}
