.DateRangePicker {
	width: 100%;
	.DateRangePickerInput {
		width: 100%;
		display: flex;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		.DateInput,
		.DateInput_input {
			background-color: transparent !important;
			text-align: center;
			font-size: 13px;
		}
		.DateRangePickerInput_clearDates {
			margin-right: 2px;
		}
	}
}


.react-numeric-input {
	width: 100%;
}