
 .BackButton .CloseButton {
    background: white!important;
    border:1px solid #dddee5!important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0523656)!important;
    color: #333333!important;
    &:hover {
        opacity: 0.8!important;
    }
}
 .SaveButton .QrButton {
    background: #256EE0!important;
    color: white!important;
    &:hover {
        opacity: 0.8!important;
    }
}

.CertificateButtons {
    .BackButton .CloseButton {
        background: white!important;
        border:1px solid #dddee5!important;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0523656)!important;
        color: #333333!important;
        &:hover {
            opacity: 0.8!important;
        }
    }
     .SaveButton {
        background: #256EE0!important;
        color: white!important;
        &:hover {
            opacity: 0.8!important;
        }
    }
}

.BackButton, .SaveButton, .CloseButton, .QrButton {
    display: flex;
	align-content: center;
	width: auto;
	border-radius: 4px;
	align-items: center;
    padding: 1em 2em;
    border: transparent;
}

// generico

.MuiFormControl-fullWidth {
    background: transparent;
}

//modales

.MuiDialog-paperWidthSm {
    width: 600px;
    min-height: 300px;
    .MuiDialogActions-root {
        padding: 2em;
    }
    .DeleteMessage {
        text-align: center;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #333333;
        .material-icons {
            background: #256EE0;
            border-radius: 5em;
            padding: 0.5em;
            color: white;
        }
    }
}