@import "./Colors.scss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
	color: $ButtonText;
	width: 75px;
	height: 30px;
}

.BackgroundText {
	color: $BackgroundText;
}

.chip {
	display: none;
}

.search-result {
	width: 495px;
}

input.input-box {
	width: 470px;
}

// Multi select

.MuiRadio-root {
	color: $InputBackground !important;
}

// Autocomplete

.MuiAutocomplete-inputRoot .MuiAutocomplete-input {
	margin-left: 5px;
	color: $InputText;
}

.MuiFormControl-fullWidth {
	width: 100%;
	background-color: aliceblue;
	margin-top: 10px;
}

.MuiAutocomplete-root {
	width: 510px;
	height: 45px;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInput-fullWidth.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedEnd {
	width: 510px;
	height: 45px;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty {
	display: none;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
	width: 30px;
}
