@import "./Colors.scss";

@font-face {
	font-family: "Product Sans Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Regular"), url("../fonts/ProductSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "Product Sans Light Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Light Regular"), url("../fonts/ProductSans-Light.woff") format("woff");
}

@font-face {
	font-family: "Product Sans Medium Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Medium Regular"), url("../fonts/ProductSans-Medium.woff") format("woff");
}

@font-face {
	font-family: "Product Sans Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Bold"), url("../fonts/ProductSans-Bold.woff") format("woff");
}

body {
	margin: 0;
	font-family: "Product Sans Regular";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
	color: $ButtonText;
	width: 75px;
	height: 30px;
}

.BackgroundText {
	color: $BackgroundText;
}

.chip {
	display: none;
}

.search-result {
	width: 495px;
}

input.input-box {
	width: 470px;
}

// Multi select

.MuiRadio-root {
	color: $InputBackground !important;
}

// Autocomplete

.MuiAutocomplete-inputRoot .MuiAutocomplete-input {
	margin-left: 5px;
	color: $InputText;
}

.MuiFormControl-fullWidth {
	width: 100%;
	background-color: aliceblue;
	margin-top: 10px;
}

.MuiAutocomplete-root {
	width: 510px;
	height: 45px;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInput-fullWidth.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedEnd {
	width: 510px;
	height: 45px;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty {
	display: none;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
	width: 30px;
}
