@import "../../../styles/Colors.scss";

.CertSectionContent {
	margin-top: 30px;
	margin-bottom: 30px;
}

.SaveButton {
	margin-right: 10px;
}

.CertButton {
	width: 100px;
	height: 35px;
}

.AddParticipant {
	margin-right: 10px;
	padding: 0px;
}

.LoadParticipant {
	margin-right: 10px;
	padding: 0px;
}

.SampleCsv {
	margin-right: 10px;
}

.AddParticipantButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.react-file-reader-button {
	display: flex;
}

.RemoveParticipantButton {
	float: right;
	width: 30px;
}

.TemplateSelector {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.ParticipantsSelector {
	margin-top: 5px;
	margin-bottom: 10px;
}

.ParticipantContent {
	width: 510px;

	border-style: solid;
	padding: 5px;
	border-width: 2px;

	margin-top: 0px;
	margin-bottom: 10px;
}

.MicroCredFieldsSelect {
	background-color: $TableBackground;
	width: 260px;
	height: 45px;
}

.MicroCredsHeader {
	display: flex;
}

.MicroCredsNameLabel {
	width: 250px;
}

.MicroCredsFieldsLabel {
	width: 250px;
}

.MicroCredFieldName {
	background-color: $TableBackground;
	width: 230px;
	height: 40px;
	margin-right: 10px;
}

.AddMicroCredential {
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.RemoveMicroCredential {
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.ParticipantsSelector {
	width: 100%;
}

.RequiredMarker {
	width: 30px;
}
