@import "../../../styles/Colors.scss";

.CertSectionContent {
	margin-top: 30px;
	margin-bottom: 30px;
}

.SaveButton {
	margin-right: 10px;
}

.TemplateSelector {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.ParticipantContent {
	border-style: solid;
	padding: 5px;
	border-width: 2px;

	margin-top: 0px;
	margin-bottom: 10px;
}
