@import "../../../styles/Colors.scss";

.Certificate {
	display: flex;
	flex-direction: column;
	padding: 4em 3em 4em 2em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.container {
		margin: 0 auto;
		max-width: 700px;
	}
}
.DataTitle {
	font-size: 1.5em;
	color: $black;
	width: 100%;
}

.Data {
	margin: 1em 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	.DataName {
		color: $BackgroundText;
		display: flex;
		flex-direction: row;
	}
	.DataInput {
		border: transparent;
		border-bottom: 1px solid #000;
		width: 100%;
		float: left;
	}
}

.Header {
	width: 100%;
	background-color: $primary-color;
	display: flex;
	justify-content: space-between;
	padding: 1em;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	img {
		height: 25px;
		margin: 0 5em;
	}

	.Menu {
		margin: 0 5em;
		p {
			margin: 0;
		}
	}
}

.SaveButton {
	margin-right: 10px;
}

.CertButton {
	width: 100px;
	height: 35px;
}

.AddParticipant {
	margin-right: 10px;
	padding: 0px;
}

.LoadParticipant {
	margin-right: 10px;
	padding: 0px;
}

.SampleCsv {
	margin-right: 10px;
}

.AddParticipantButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1em;
}

.react-file-reader-button {
	display: flex;
}

.RemoveParticipantButton {
	float: right;
	width: 30px;
}

.TemplateSelector {
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
}

.ParticipantsSelector {
	margin-top: 5px;
	margin-bottom: 10px;
}

.ParticipantContent {
	box-sizing: border-box;
	border: 2px solid $primary-color;
	display: flex;
	flex-direction: column;
	padding: 0 4em;
	margin-top: 1em;
	.CertSectionContent {
		.Data {
			width: 100%;
			.DataElem {
				.RequiredMarker {
					margin-top: 0.5em;
				}
				input {
					width: 100%;
				}
			}
		}
	}
}

.MicroCredFieldsSelect {
	background-color: $TableBackground;
	width: 260px;
	height: 45px;
}

.MicroCredsHeader {
	display: flex;
}

.MicroCredsNameLabel {
	width: 250px;
}

.MicroCredsFieldsLabel {
	width: 250px;
}

.MicroCredFieldName {
	background-color: $TableBackground;
	width: 230px;
	height: 40px;
	margin-right: 10px;
}

.AddMicroCredential {
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.RemoveMicroCredential {
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.ParticipantsSelector {
	width: 100%;
}

.RequiredMarker {
	width: 30px;
}

.AddParticipants {
	.AddParticipantButtons {
		.CertButton {
			background: #256ee0 !important;
			color: white !important;
			display: flex;
			align-content: center;
			width: auto;
			border-radius: 4px;
			align-items: center;
			padding: 1em 2em;
			border: transparent;
			&:hover {
				opacity: 0.8 !important;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.Certificate {
		.container {
			max-width: 100%;
			.TemplateSelector {
				.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInput-fullWidth.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedEnd {
					width: 300px;
				}
			}
		}
		.AddParticipants {
			.AddParticipantButtons {
				flex-direction: column;
				.CertButton {
					margin: 1em 0;
					width: 100%;
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}
