@import "../../styles/Colors.scss";

.LoginInput {
	display: flex;
	flex-direction: column;
	margin: auto;

	width: 300px;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.LoginButton {
	width: 75px;
	height: 30px;
}
