@import "../../styles/Colors.scss";

.QrTitle {
	margin-top: 30px;
	color: $BackgroundText;
}

.QrReq {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.QrRequestButtons {
	margin-top: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.QrButtons {
	margin-top: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.QrButton {
	margin-right: 10px;
}

.QrPetition {
	width: 400px;
	height: 400px;
	margin: 0 0 20px 0;
	padding: 10px;
	align-self: center;
	overflow-wrap: break-word;
}

.ParticipantLoaded {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 337px;
}

.QrTemplateSelector {
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.QrDialogButton {
	margin-right: 10px;
}

.CertificateSelector {
	margin-top: 15px;
}

.CertificateSelect {
	width: 100%;
}

.SendButton {
	margin-right: 10px;
}
