@import "../../styles/Colors.scss";

.QrReq {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 337px;
}

.QrPetition {
	width: 400px;
	height: 400px;
	margin: 0 0 20px 0;
	padding: 10px;
	align-self: center;
	overflow-wrap: break-word;
}

.ParticipantLoaded {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 337px;
}

.QrTemplateSelector {
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
